@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	/* Push to bottom */
	display: flex;
	flex-direction: column;
	justify-content: center;
    height: 100vh;
    background: #262627;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}



.counters {
	background: #262627;
	color: #fff;
	padding: 40px 20px;

}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	color: #fff;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		padding-bottom: 20px;
	}
}
